<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('intra_main_homepage') }}">Intra </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
      {% if is_granted("ROLE_USER") %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ path('user_profile', {'login': app.user.username}) }}">Profile</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Deconnexion</a></li>
          </ul>
        </li>
      {% else %}
      <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
      {% endif %}
        
        <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-off"></span></a></li>
      </ul>

      <form class="navbar-form navbar-right" role="search" method="GET" action="{{ path('user_search') }}" onsubmit="return checkSearch(this)">
        <div class="form-group">
          <input type="text" name="_q" id = "_q" class="form-control" placeholder="Recherche" data-container="body" data-toggle="popover" data-placement="bottom" data-content="La recherche nescessite 3 caractères minimum">
        </div>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      </form>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>