{% extends "IntraTicketBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block intramain_body %}

  {% if tickets is empty %}
  	<p>Vous n'avez soumis aucun ticket</p>
  {% endif %}

  <a href="{{ path('intra_ticket_create') }}">Soumettre un ticket</a>

  	<div class="table-responsive">
	 	<table class="table table-hover">
	 		<tr><th>Titre</th><th>Priorité</th><th>Date de soumission</th><th>Etat</th></tr>

		  {% for ticket in tickets %}
		    
		  	{% if ticket.getEtat() == "En attente" %}
		  		<tr class="warning">
		  	{% elseif ticket.getEtat() == "En cours" %}
		  		<tr class="info">
		  	{% elseif ticket.getEtat() == "Résolut" %}
		  		<tr class="success">
		  	{% elseif ticket.getEtat() == "Fermé" %}
		  		<tr>
		  	{% endif %}
		  	<td><a href="{{ path('intra_ticket_read', {'id' : ticket.getId()} ) }}">{{ ticket.getTitre()|length > 25 ? ticket.getTitre()|slice(0, 25) ~ '...' : ticket.getTitre() }}</a></td>
		  	<td>{{ ticket.getPriorite() }}</td>
		  	<td>{{ ticket.getDatetime()|date('Y-m-d') }}</td>
		  	<td>{{ ticket.getEtat() }}</td>
		  	</tr>

		  {% endfor %}

  		</table>
	</div>

{% endblock %}